
local_host = "127.0.0.1"
local_port = 8080
server_host = "8.8.10.10"
server_bind_host = ""
server_port = 8090


table_str = b'a\x0e\xb5E\xdd\x99\xcev\xa3\xcdi8\xe6\x9e\xebK;\x05>U\xe4\xb3,\x11\xd6Jy\xa4!_\x9a\x88\r@69\x1cb\xbf\\)p\xbc\x1b\xe0\xb8\t\x01\xd7ec\xfcNj\xbd\x8f\x13\xc8\xd2*\xb1W\xe1&\xa5\x87\xc7\xe7\xf2\x06\xcb\xc0\xfbV\xa1\x14\xea\xb2\xf3\xcc=[t\xc9\xd8\xd0\x18\xee\xa9?\x860ZT\xfa~-\xd4\'r\xf1\xfd\xacIoB\xffF\xda\xadn\xb4\xf7\xba#x\x90\xa6\x81\xa0\xaaq\x02"\x85\x10\x8d\x12\xf917\x03\xd5u\x7f {^\xe9\xa7}<dP\xf5A\xf0R]\x1d\x1a\x95$\xc4S\x98\x83z+\xdc\x8a\xed\x15\xc1\xe3\xae\x1e\x96\n\xaf\x91\xd1\x94\xc6l\x00\xdbH\xbe\x0f\x82(\xc3\x9cY\xdf\xca\xb0\x0ck\x17\x0bf\x97:\x9f\xbb2\xf8\x92\x16\x08h\x1f\xc2\xb7\xf4w\xa8\x04\x8c\xec\x80\x9b\xe5\xf65\xdeO\xd3\xb9\x93C\x07D\xcf\x8b\xb6\xe2mM|X\x9d`\x844\xfe\xd9Q\xab\x19\xe8gs\xef3\x8e%LG\x89/\xa2.\xc5'
offset = 2                     # 1 - 255
